<% if !@output.nil? && !@temp.nil? %>
  <h2> <%= @output %> </h2>
  The link: <%= @temp.link  %> </br>
  <%= link_to 'Show all links', root_path %>
<% else %>
  <%= "first of all you have to add a link! :)" %> </br>
<% end %>