<script type="text/javascript">
var _j = $.noConflict();
</script> 
<link rel="stylesheet" href="assets/plasm-the-wall-ec4b998/Demos/assets/css/default.css" />
<link rel="stylesheet" href="assets/plasm-the-wall-ec4b998/Demos/assets/css/01-wall.css"  />
<script src="assets/plasm-the-wall-ec4b998/Demos/assets/javascript/framework/mootools-core-1.3.2.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/plasm-the-wall-ec4b998/Demos/assets/javascript/framework/mootools-more-1.3.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/plasm-the-wall-ec4b998/Source/wall.js" type="text/javascript" charset="utf-8"></script>



<script>
function fullScreen() {
    var viewFullScreen = document.getElementById("fullscreen");
    if (viewFullScreen) {
        viewFullScreen.addEventListener("click", function () {
            var docElm = document.documentElement;
            if (docElm.webkitRequestFullScreen) {
                docElm.webkitRequestFullScreen();
		
            }
        });
    };
    var cancelFullScreen = document.getElementById("fullscreen");
    if (cancelFullScreen) {
        cancelFullScreen.addEventListener("click", function () {
            if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        });
    };
};

function newWall() {
  _j('#menu').slideUp();
  _j('.window').fadeIn(2000);

};


</script>	
<div id="menu"> 
  <button class="new-wall" onclick="newWall()"></button>
  <button id="fullscreen" class="fullscreen" onclick="fullScreen()"></button>
</div>
<div id="boxes">
<div id="dialog" class="window">

	<form name = "wall" id="boxes">
		<fieldset>
			<h1> Choose Your Tags </h1>
			<ul class="checklist">
				<li>
					<input name="_tag" value="climbing" type="checkbox" id="climbing"/>
					<label for="climbing">Climbing</label>
					<a class="checkbox-select" >Select</a>
					<a class="checkbox-deselect" ">Cancel</a>
				</li>
				<li>
					<input name="_tag" value="puppies" type="checkbox" id="puppys"/>
					<label for="puppys">Puppys :)</label>
					<a class="checkbox-select" >Select</a>
					<a class="checkbox-deselect" >Cancel</a>
				</li>
				<li>
					<input name="_tag" value="sea" type="checkbox" id="sea"/>
					<label for="sea">Sea</label>
					<a class="checkbox-select" >Select</a>
					<a class="checkbox-deselect" >Cancel</a>
				</li>
			</ul>
			<INPUT NAME="Generate" VALUE="Generate" class="button" style="margin-top: 20px" TYPE=BUTTON onClick=wallData(this.wall)> 
		</fieldset>
	</form>

	
</div>
  <div id="loading"></div>
</div>

<div id="viewport">
    <div id="modal"></div>
    <div id="wall"> </div>
</div>

<script type="text/javascript">
	_j(document).ready(function() {	
		_j('#dialog').show();
	});

	_img = {
		_list	: [],
		_now	: 0,
		_count	: 0,
		_tag 	: "",
		_total	: 60,
		_per_req: 0,
		_last 	: 0,
		_loaded : 0,
		_created: 0,
		_to_load: 3,
		_next	: function( ) {
			if( _img._now >= _img._count ) {
				_img._now = 0;
			}
			return _img._list[ _img._now++ ];
		},
		_get 	: function () {
			  var _host = "http://ec2-23-21-100-80.compute-1.amazonaws.com";
			  var _req  = _img._tag+"&per_req="+_img._per_req+"&last="+_img._last+"&total="+_img._total;
			  _j.getJSON( _host+"/search?tag="+_req+"&callback=?",function(result){
			      _j.each( result , function() {
			      _img._list[_img._count] = {
				small : this.images[0].small.link,
				medium: this.images[1].medium.link,
				large : this.images[2].large.link
			      };
			      _img._count ++;
			    });
			    _img._to_load--;	
			    if( !_img._created) {
			      _img._show();
			    }
			    else if (_img._to_load) {
			      _img._params();
			    };
			})
		},
		_params : function () {
			  _img._last = _img._count;
			  _img._get ();
		},
		_show 	: function() {
			  if( !_img._loaded ) {
			    _j('#loading').hide();
			    _wall._new();
			  }
		}
	};
	function wallData(wall)
	{ 
	  for (var i=0; i < document.wall._tag.length; i++) {
	    if (document.wall._tag[i].checked){
		  if(_img._tag == "" && document.wall._tag[i].value) {
		    _img._tag = document.wall._tag[i].value;
		  }
		  else {
		    _img._tag =_img._tag+","+document.wall._tag[i].value;
		  };
		}
	    }
	    if(_img._tag != "") {
	      _j('#loading').show();
	      _j('.window').fadeOut(2000);
	      _j('#menu').slideDown();
	      _img._per_req = 20
	      _img._get ();
	    }
	};

	_wall = {
		_new : function() {
			_wall._new = new Wall("wall", 
			  {
			    "draggable":true,
			    "inertia":true,
			    "width":245, 
			    "height":165, 
			    "rangex":[-100,100], 
			    "rangey":[-100,100],
			    callOnUpdate: function(items){
			      items.each(function(e, i){
			      var _i = _img._next();
			      var a = new Element("img[src="+_i.small+"]");
			      a.store( "medium" , _i.medium ).inject(e.node).fade("hide").fade("in");
			      });
			      if(!_img._created)
				{
				_img._created -- ;
				_img._params();
				};
			    }			
			  });
			_wall._new.initWall();
		}
	};

	_j(document).ready(function() {

		/* see if anything is previously checked and reflect that in the view*/
		_j(".checklist input:checked").parent().addClass("selected");

		/* handle the user selections */
		_j(".checklist .checkbox-select").click(
			function(event) {
				event.preventDefault();
				_j(this).parent().addClass("selected");
				_j(this).parent().find(":checkbox").attr("checked","checked");
			}
		);
		_j(".checklist .checkbox-deselect").click(
			function(event) {
				event.preventDefault();
				_j(this).parent().removeClass("selected");
				_j(this).parent().find(":checkbox").removeAttr("checked");
			}
		);

		_j("#wall").delegate( "img" , "click" , function() {
			if( !_wall._new.getMovement() ) {
				var _e = $(this)
				_modal.show( _e.retrieve("medium") );
			}
		});

	});


	_modal = {
		  show : function (_img){
			  _j('#modal').html('<img src="'+_img+'" onClick="_modal.close();"/>').show();
			  _j('#wall').css("opacity", 0.5);
		  },
		  close : function (){
			_j('#modal').click( function() {
				_j('#modal').hide();
				_j('#wall').css("opacity", 1);
			});
		  }
	}
</script>