<script type="text/javascript">
var _j = $.noConflict();
</script> 
  <link rel="stylesheet" href="assets/plasm-the-wall-ec4b998/Demos/assets/css/default.css" />
  <link rel="stylesheet" href="assets/plasm-the-wall-ec4b998/Demos/assets/css/01-wall.css"  />
  <script src="assets/plasm-the-wall-ec4b998/Demos/assets/javascript/framework/mootools-core-1.3.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/plasm-the-wall-ec4b998/Demos/assets/javascript/framework/mootools-more-1.3.2.1.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/plasm-the-wall-ec4b998/Source/wall.js" type="text/javascript" charset="utf-8"></script>
  <h1>The Wall</h1>

  <form name="wall">
  tag <input type="text" name="_tag">
  _total <input type="text" name="_total">
  <INPUT NAME="Generate" VALUE="Generate" TYPE=BUTTON onClick=wallData(this.wall)>
  </form>

  <div id="viewport">
      <div id="wall"></div>
  </div>
  <script type="text/javascript">

  function wallData(wall)
  { 
    var _tag	  = "good";
    var _total	  = 3
    var _per_req  = 3
     res	  = [];
    for (i=0;i<=2;i++)
    {
      _last = res.length;
      getResponse(_tag,_last,_total,_per_req);
    };
  };

  function getResponse(_tag,_last,_total,_per_req)
  {
    var  list = [];
    var i = 0;
    _j.getJSON("http://localhost:3000/search?tag[]="+_tag+"&per_req="+_per_req+"&last="+_last+"&total="+_total+"&callback=?",function(result){
      _j.each( result , function() {
	list.push(result[i].images[0].small.link);
	i++;
      });
      console.log(list);
      wallGenerate(list);
    });
  };

  function wallGenerate(res)
  {
    var maxLength = 100; 
    var counter   = 1;
    var k	  = 0 ;
    var wall = new Wall("wall", { 
			"draggable":true,
			"inertia":true,
			"width":245, 
			"height":165, 
			"rangex":[-100,100], 
			"rangey":[-100,100], 
			callOnUpdate: function(items){ 
			    items.each(function(e, i){ 

			      if(k == res.length) k= 0 ;
			      var img = res[k];
				  k++;
			      var a = new Element("img[src="+img+"]"); 
				  a.inject(e.node).fade("hide").fade("in"); 
			      counter++; 
			      if( counter > maxLength ) counter = 1;
			    }) 
			  } 
		      });
      wall.initWall();
  };


</script>